# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS / Editor
.DS_Store
.idea/
.vscode/

# Env files
.env
.env.*

# Logs
*.log
